.poke-card {
  width: 90%;
}

.poke-header-image {
  background-size: cover;
  width: 60px;
  height: 60px;
}

* {
  font-family: Raleway /* Replace with your custom font */, sans-serif !important;
  /* Add !important to overwrite all elements */
}

.details {
  margin: auto;
}
