<div style="width: 70%; margin: auto;">
    <mat-card>
        <mat-card-header>
            <mat-card-title style="font-family: Pokemon;">Poke App</mat-card-title>
            <mat-card-subtitle style="font-family: Pokemon;">Simple Poke App using Poke API</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="image-card" style="width: 500px;" src="assets/pokemon-go.png">
          <mat-card-content>
            Simple app in angular which helps to search pokemon and give details about the same. It also allows to store the pokemons to peronal list or wishlist.
            <br>
            <br>
            <a routerLink="/home"><button style="font-family: Pokemon;" class="pull-left">Go back - Catch ‘Em All!</button></a>
        </mat-card-content>
    </mat-card>
</div>
  